# This file helps with local development, giving IDE's helpful information and getting
# users up to speed with a simple `mkvirtualenv casseiopia && pip install -r requirements.txt`
pytest==2.8.4
future==0.15.2
enum34==1.1.1
sqlalchemy
